<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--软件主题,0=浅色主题，1=深色主题-->
		<add key="Theme" value="0"/>
		<!--语言-->
		<add key="Language" value="1"/>
		<!--通知模式,0=软件内静默通知，1=弹窗通知-->
		<add key="NotificationMode" value="0"/>
		<!--静默通知时间-->
		<add key="NotificationTime" value="5"/>
	</appSettings>
</configuration>